{{ header_text }}

<br>{{ 'Transaction type (purchase) '|t }}: VISA/MASTERCARD
<br>{{ 'Merchant name'|t }}: {{ merch_name }}
<br>{{ 'Merchant country'|t }}: Moldova
<br>{{ 'Merchant address'|t }}: {{ merch_address }}
<br>{{ 'Merchant online address'|t }}: {{ merch_url }}
<br>{{ 'Transaction Date'|t }}: {{ payment_authorized_time }}
<br>{{ 'Transaction amount'|t }}: {{ payment_amount }}
<br>{{ 'Order number' }}: {{ order_number }}
<br>{{ 'Retrieval Reference Number'|t }}(RRN): {{ rrn }}
<br>{{ 'Customer Name'|t }}: {{ fullname }}
<br>{{ 'Card'|t }}: {{ card_number }}
<br>{{ 'Support Contacts'|t }}: {{ support_contacts }}
<br>{{ 'Return/refund policy url'|t }}: {{ return_policy_uri }}
